<br>

<div class="text-center fs-2"
<p>
  Have you ever wanted to know more about certain charcters in the Marvel Universe? <br>
  Look no further than the Marvel Characters Galore app! <br>You can search for Marvel heroes, villains, comics, or even the creators!
</p>
</div>

<br>
<div class="justify-content-center row">
  <img src = "img/marvel-logo.gif" />
</div>

<div class="text-center mt-4">
  <footer>
    <a href="https://github.com/Luflos/marvel-characters-galore"> <i class="fa-brands fa-github"> </i></a>
    <a href="https://linkedin.com/in/sol-youn"> <i class="fa-brands fa-linkedin"></i> </a>
  </footer>
</div>
