<% if (currentUser) { %>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <form method="GET" action="search/charresults">
          <label class="fs-3" for ="marvel-search">Characters:</label>
          <input class ="form-control" type="text" id="marvel-search" placeholder="Search for characters" name="searchMarvel" />
          <input class ="btn btn-dark fs-4" type="submit" value="Search"/>
        </form>
        <br>
        <form method="GET" action="search/comicresults">
          <label class="fs-3" for ="comic-search">Comics:</label>
          <input class = "form-control" type="text" id="comic-search" placeholder="Search for comics" name="searchComics" />
          <input class ="btn btn-dark fs-4" type="submit" value="Search" />
        </form>
        <br>
        <form method="GET" action="search/creatorresults">
          <label class="fs-3" for ="creator-search">Creators:</label>
          <input class ="form-control" type="text" id="creator-search" placeholder="Search for creators" name="searchCreators" />
          <input class ="btn btn-dark fs-4" type="submit" value="Search"/>
        </form>
      </div>
      </div>
      </div>
        
        
        <br>
  <img class="rounded mx-auto d-block" src = "/img/Heroes.jpg" alt = 'image of marvel chracters' />
  
  <% } else { %>
    <br>
    <div class = 'd-flex justify-content-center'>
      <img src = "/img/hulk.gif" />
    </div>
    <br>
    <h1 class ='text-center'>
      Please
      <a href="/users/new" class="text-decoration-none">Sign Up</a>
      or
      <a href="/users/login" class="text-decoration-none">Login</a> !
    </h1>
   
 <% } %>