<% if (currentUser) { %>

  
  <div class ="text-center fs-4">
    <h1>Search</h1>
    
    <form method="GET" action="search/charresults">
      <label class="fs-3" for ="marvel-search">Characters:</label>
      <input type="text" id="marvel-search" placeholder="Search for a character" name="searchMarvel" />
      <input type="submit" />
    </form>
    
    <br>
    
    <form method="GET" action="search/comicresults">
      <label class="fs-3" for ="comic-search">Comics:</label>
      <input type="text" id="comic-search" placeholder="Search for a comic" name="searchComics" />
      <input type="submit" />
    </form>
    
    <br>
    
    <form method="GET" action="search/creatorresults">
      <label class="fs-3" for ="creator-search">Creators:</label>
      <input type="text" id="creator-search" placeholder="Search for a creator" name="searchCreators" />
      <input type="submit" />
    </form>
  </div>
  
  <br>
  
  <div class = 'd-flex justify-content-center'>
    <img src = "/img/marvel-search.jpg" />
  </div>
  
  <% } else { %>
    <br>
    <div class = 'd-flex justify-content-center'>
      <img src = "/img/hulk.gif" />
    </div>
    <br>
    <h1 class ='text-center'>
      Please
      <a href="/users/new" class="text-decoration-none">Sign Up</a>
      or
      <a href="/users/login" class="text-decoration-none">Login</a> !
    </h1>
   
 <% } %>