<h1>Marvel Search</h1>
<p>Search for a Marvel Character below!</p>

<form method="GET" action="search/results">
  <label for ="marvel-search">Search:</label>
  <input type="text" id="marvel-search" placeholder="enter your search" name="searchMarvel" />
  <input type="submit" />
  
</form>