<% if (error) { %> 
  <em> <%= error %> </em>
<% } %>

<br>
<div class ="text-center fs-4">
<form class='justify-center' action="/users/login" method="post">
  <label class = "fs-4" for="email">Email:</label>
  <input type="email" name="email" id="email">
  <br>
  <label class = "fs-4" for="password">Password:</label>
  <input type="password" name="password" id="password">
  <br>
  <br>
  <button type="submit">Login!</button>
  <!-- <input type="submit" value="Login!"> -->
</form>
<br>
</div>

  <div class = 'd-flex justify-content-center'>
    <img src = "/img/ironman.gif" />
  </div>